body {
    background: pink;
}

h1 {
    font-family: times;
    padding: 10px;
    padding-left: 10px;
    border: dashed 1px;
    background-color: #FFCC33;
    margin: 30px auto;
    font-size: 1.5em;
}

table {
    position: relative;
    padding: 20px;
    padding-left: 15px;
    border: dashed 1px;
    background-color: #CC99FF;
    margin: 0 auto;
}

h3 {
    position: relative;
    padding: 20px;
    padding-left: 250px;
    border: dashed 1px;
    background-color: #CCFFFF;
    margin: 1px auto;
    font-size: 1.5em;
}

#castro {
    padding: 3px;
    position: relative;
    border: dashed 1px;
    background-color: #CCFFCC;
    margin: 1px auto;
}

#richmond {
    padding: 3px;
    position: relative;
    border: dashed 1px;
    background-color: #CCFFFF;
    margin: 0 auto;
}

#favs {
    position: relative;
    padding: 20px;
    padding-left: 2px;
    border: dotted 2px;
    background-color: #FFFFCC;
    margin: 1px auto;
    font-size: 1em;
}

a {
    color: white;
}
